
<div id="messages">
<div class="row">
          <div class="col-1">
            <div class="form-group" style="margin-bottom: 0;">
              <label>Objet:</label>
              
              {# <textarea class="form-control" rows="3" disabled="">{{ reclamation.objet }}</textarea> #}
            </div>
          </div>
          <div class="col-11" style="padding-left: 1 !important; margin-bottom: 0;">
            <div class="form-group">
              <p>{{ reclamation.objet }}</p>
              
            </div>
          </div>
</div>
<div class="row">
        <div class="col-7">
            <div class="form-group">
              <textarea style="background: #d9eeff;"     class="form-control" rows="3" disabled="">{{ reclamation.observation }}</textarea>
              <label style="float: left;" >{{ reclamation.created | date('d-m-Y') }}</label>
            </div>
          </div>
</div>

  {# {% for reponse in reclamation.reponses  %}

    {% if reponse.admin == true %}
      <div class="row">   
            <div class="col-5">
              
            </div>
            <div class="col-7">
              <div class="form-group">
                <textarea class="form-control" rows="3" disabled="">{{ reponse.message }}</textarea>
                <label style="float: right;" >{{ reponse.created | date('d-m-Y') }}</label>
              </div>
            </div>
        </div>
        
    {% else %}
    <div class="row">   
              <div class="col-7">
                <div class="form-group">
                  <textarea  class="form-control" style="background: #d9eeff;" rows="3" disabled="">{{ reponse.message }}</textarea>
                  <label style="float: left;" >{{ reponse.created | date('d-m-Y') }}</label>
                </div>
              </div>
              <div class="col-5">
                
              </div>
        </div>
      
    {% endif %}
    
  {% endfor %} #}

  {% for reponse in reclamation.reponses  %}

		{% if reponse.admin == true %}
			<div class="row">
				<div class="col-3"></div>
				<div class="col-9">
					{% if reponse.message %}
						<div class="form-group">
							<textarea class="form-control" rows="3" disabled="">{{ reponse.message }}</textarea>
							<label style="float: right;">{{ reponse.created | date('d-m-Y') }}</label>
						</div>
					{% endif %}
					{% if reponse.file %}
						<div class="form-group">
							<a id="downloadPiece" data-file="{{reponse.file}}" class="btn btn-secondary btn-xs pull-right" style="background-color: #e9ecef; color: #515151;border: 1px solid #ced4da;">
								<i class="fas fa-download"></i> Pièce jointe
							</a>
							<br>
							<label style="float: right;">{{ reponse.created | date('d-m-Y') }}</label>
						</div>
					{% endif %}
				</div>
			</div>
		{% else %}
			
			{% if reponse.message %}
				<div class="row">
					<div class="col-9">
							<div class="form-group">
								<textarea class="form-control" style="background: #d9eeff;" rows="3" disabled="">{{ reponse.message }}</textarea>
								<label style="float: left;">{{ reponse.created | date('d-m-Y') }}</label>
							</div>
					</div>
					<div class="col-3"></div>
				</div>
			{% endif %} 
			{% if reponse.file %}
				<div class="row">
					<div class="col-9">
							<div class="form-group">
								<a id="downloadPiece" data-file="{{reponse.file}}" class="btn btn-secondary btn-xs pull-right" style="background-color: #d9eeff; color: #515151;border: 1px solid #ced4da;">
									<i class="fas fa-download"></i> Pièce jointe
								</a>
								<br>
								<label style="float: right;">{{ reponse.created | date('d-m-Y') }}</label>
							</div>
					</div>
					<div class="col-3"></div>
				</div>
			{% endif %}
		{% endif %}

	{% endfor %}

</div>


      <form id="message_form" data-reclamation="{{reclamation.id}}">
	<div class="row">
		<div class="col-9">
			<div class="form-group">
				<textarea name="message" class="form-control" rows="1" placeholder="Ecrivez votre message ici"></textarea>
			</div>
		</div>
		<div
			class="col-1" style="padding: 0;">
			{# <input type="file" class="form-control-file" id="fileUpload" accept=".pdf, .doc, .docx, .txt, .png, .jpeg"> #}
			<input name="file" style="display:none;" type="file" id="fileUpload" accept=".pdf, .doc, .docx, .txt, .png, .jpeg">
			<label style="vertical-align:middle;cursor:pointer;" for="fileUpload">
				<i class="fa fa-paperclip fa-2x" style="font-size: 28px !important;color: #465563;"></i>
				<span style="margin-left: 10px"></span>
			</label>
			<i class="fa fa-times-circle remove" style="vertical-align:middle;margin-left: 5px;cursor:pointer;display:none;"></i>
		</div>
		<div class="col-2" style="padding: 0;">
			<button type="submit" class="btn btn-sm btn-primary pull-right" style="float: right">
				<i class="fas fa-paper-plane"></i>
				Envoyer</button>
		</div>
	</div>
</form>
