<div class="row">
          <div class="col-12">
            <table id="datatables_detail_frs" class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Email1</th>
                        <th>Email2</th>
                        <th>Tel1</th>
                        <th>Tel2</th>
                        <th>Adresse</th>
                        <th>Pays</th>
                        <th>Ville</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <th>{{frs.mail1}}</th>
                      <th>{{frs.mail2}}</th>
                      <th>{{frs.tel1}}</th>
                      <th>{{frs.tel2}}</th>
                      <th>{{frs.adresse}}</th>
                      <th>{{frs.pays}}</th>
                      <th>{{frs.ville}}</th>
                  </tr>
                </tbody>
            </table>
          </div>
          
</div>