<aside class="main-sidebar sidebar-dark-primary elevation-4 text-sm">
    <!-- Brand Logo -->
    <a href="{{path('app_index')}}" class="brand-link">Gestion Reclamations
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-compact" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item {% if 'app_admin' in app.request.get('_route') %}menu-is-opening menu-open{% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Administration
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_admin_users')}}" class="nav-link {% if 'app_admin_users' in app.request.get('_route') %}active{% endif %}">
                  <i class="fas fa-chevron-right nav-icon"></i>
                  <p>Utilisateurs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_admin_fournisseurs')}}" class="nav-link {% if 'app_admin_fournisseurs' in app.request.get('_route') %}active{% endif %}">
                  <i class="fas fa-chevron-right nav-icon"></i>
                  <p>Fournisseurs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_admin_reclamations')}}" class="nav-link {% if 'app_admin_reclamations' in app.request.get('_route') %}active{% endif %}">
                  <i class="fas fa-chevron-right nav-icon"></i>
                  <p>Reclamations</p>
                </a>
              </li>
            </ul>
          </li>
          {# <li class="nav-item {% if 'app_fournisseurs' in app.request.get('_route') %}menu-is-opening menu-open{% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Administration
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_admin_users')}}" class="nav-link {% if 'app_admin_users' in app.request.get('_route') %}active{% endif %}">
                  <i class="fas fa-chevron-right nav-icon"></i>
                  <p>Utilisateurs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_admin_fournisseurs')}}" class="nav-link {% if 'app_admin_fournisseurs' in app.request.get('_route') %}active{% endif %}">
                  <i class="fas fa-chevron-right nav-icon"></i>
                  <p>Fournisseurs</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="../widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li> #}
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>