<form id="modifier-form">
    <div class="row">
            <div class="col-3">
                <div class="form-group">
                <label>Objet:</label>
                <textarea class="form-control" rows="3" name="objet">{{ reclamation.objet }}</textarea>
                </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                <label>Observation: </label>
                <textarea class="form-control" rows="3" name="observation">{{ reclamation.observation }}</textarea>
                </div>
            </div>
    </div>

    <button type="submit" class="btn btn-xs btn-success">Modifier</button>
</form>

<hr style="margin-top:0.5rem !important; margin-bottom:0.5rem !important;">
<div class="row">
          <div class="col-12">
            <label>Liste des factures:</label>
           <table
              id="tableFactures"
              class="table table-condensed table-bordered"
            >
              <thead>
                <tr>
                  <th width="10%">N° facture</th>
                  <th width="">N° facture frs</th>
                  <th width="">Montant</th>
                  <th width="10%">Date facture</th>
                  <th width="10%">Date document frs</th>
                </tr>
              </thead>
              <tbody>
                {% for fac in factures %}
                    <tr>
                      <td width="" class="text-truncate" title="{{ fac.code}}">{{ fac.code}}</td>
                      <td width="20%" class="text-truncate" title="{{ fac.refDocAsso}}">{{ fac.refDocAsso}}</td>
                      <td width="10%">{{ fac.montant}}</td>
                      <td width="">{{ fac.datefacture}}</td>
                      <td width="">{{ fac.dateDocAsso}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            </table>
          </div>
          
</div>